<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : "FFXIV 레이드 분배" %>
    </title>
    <meta
      name="description"
      content="<%= typeof description !== 'undefined' ? description : 'FFXIV Raid Distribution System' %>"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
