<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      FFXIV 레이드 분배<%= typeof title !== 'undefined' ? " - " + title : "" %>
    </title>
    <meta
      name="description"
      content="<%= typeof description !== 'undefined' ? description : 'FFXIV Raid Distribution System' %>"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <%- include('nav') %>
  <body>
    <%- body %>
  </body>
</html>
