<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "FFXIV RAID DISTRIBTION" %></title>
    <meta
      name="description"
      content="<%= description || '파이널판타지 레이드 분배 시스템' %>"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- body || 'PAGE NOT FOUND' %>
  </body>
</html>
